<fw-color-picker name="color" autofill></fw-color-picker>
<label>Distance:</label>
<fw-input-range name="distance" min="{{distanceMin}}" max="{{distanceMax}}"
					   value="{{distance}}"></fw-input-range>
<label>Peaks:</label>
<fw-input-range name="peaks" min="{{peaksMin}}" max="{{peaksMax}}" value="{{peaks}}"></fw-input-range>